

@use postcss-nested;
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

* {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 7rem;
  font-family: 'Dancing Script';
  text-align: center;
}
.card{
  align-content: unset;
}

.main {
  margin: 20px;
  width: 60%;
}

.makeStyles-root-1 {
  max-width: 100% !important;
}