body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

#HomePageText {
  font-size: 65px;
  animation: reverse;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 6s;
}

.animate__animated.animate__backInDown {
  --animate-duration: 6s;
}

