
  .box {
    box-model: border-box;
    border: 25px solid transparent;
    background-clip:padding-box;
  }

  .inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5); 
}

a:hover {
  text-decoration: none;
  outline: none;
  color: #fff;
}

body {
  background: #F0C27B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}